/build
bootstrap.*
classic.json*
modern.json*
.sencha

ext/*
build/*
.arch-internal-preview.css
dist
cache
.DS_Store
.idea/
bootstrap.json
bootstrap.jsonp
sass/example/bootstrap.json
sass/example/bootstrap.jsonp
sass/example/bootstrap.js
.architect